{% macro render_paginator(page) %}
  {# Renders a paginator for a given page object. #}
  <ul class="pagination right">
    <li class="arrow{% if not page.has_previous() %} unavailable{% endif %}"><a
            href="{% if page.has_previous() %}?page={{ page.previous_page_number() }}{% else %}#{% endif %}">&laquo;</a>
    </li>

    {% for num in range(1, page.paginator.num_pages + 1) %}
      <li {% if page.number == num %}class="current"{% endif %}><a href="?page={{ num }}">{{ num }}</a></li>
    {% endfor %}

    <li class="arrow{% if not page.has_next() %} unavailable{% endif %}"><a
            href="{% if page.has_next() %}?page={{ page.next_page_number() }}{% else %}#{% endif %}">&raquo;</a></li>
  </ul>
{% endmacro %}

{% macro render_list(view, with_actions=True, with_list_actions=True, with_paginator=True) %}
  {# Renders a table containing a list of objects. #}

  {% if with_paginator and view.paginator %}
    {{ render_paginator(view.get_page()) }}
  {% endif %}

  <table width="100%">
    <thead>
    <tr>
      {% for column in view.columns %}
        <th>{{ column }}</th>
      {% endfor %}
      {% if with_actions %}

        <th>Actions</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for object in view.objects() %}
      <tr>
        {% for column in view.columns %}
          <td>
            <a href="{{ uri_for(view.route_for('edit'), id=object.id) }}">
              {{ view.render(object, column) | safe }}
            </a>
          </td>
        {% endfor %}
        {% if with_actions %}
          <td>
            <a href="{{ uri_for(view.route_for('edit'), id=object.id) }}">
              <i class="fa fa-save"></i>
              edit
            </a>
            <a href="{{ uri_for(view.route_for('delete'), id=object.id) }}"
               onclick="return confirm('Product will be deleted permanently. Please confirm.')">
              <i class="fa fa-trash-o"></i>
              delete
            </a>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if with_list_actions %}
    <a href="{{ uri_for(view.route_for('new')) }}" class="button radius small left">New</a>
  {% endif %}

  {% if with_paginator and view.paginator %}
    {{ render_paginator(view.get_page()) }}
  {% endif %}
{% endmacro %}
